@font-face {
    font-family: Miller;
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Miller-Display-Regular.otf.css');
}

@font-face {
    font-family: AlternateGothic2;
    src: url('https://segredosdesalao.vteximg.com.br/arquivos/Alternate-Gothic-No.2-BT.otf.css');
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent linear-gradient(332deg, #FFF4F6 0%, #FDD6DD 100%) 0% 0% no-repeat padding-box;
}

.invisible {
    display: none;
}

.btn {
    width: 200px;
    height: 40px;
    font-family: AlternateGothic2;
    font-size: 1.2rem;
    border: 1px solid #000000;
    background-color: transparent;
    cursor: pointer;
}

.btn--black {
    width: 200px;
    height: 40px;
    font-family: AlternateGothic2;
    font-size: 1.2rem;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

/* FAIXA BRANCA TOP */
.x-top {
    max-width: 100%;
    height: 44px;
    border-bottom: 1px solid #707070;
    background-color: #ffffff;
    z-index: 1000;
}

.x-top span {
    font-family: AlternateGothic2;
    font-size: 1.5rem;
    letter-spacing: 0.48px;
    line-height: 44px;
    text-align: center;
}

.x-top-drop {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 1;
}

.x-top-drop img {
    max-width: 60%;
}

/* LOGO TOP */
.logo__top {
    margin-top: 70px;
}

.logo__top img {
    max-width: 100%;
}

/* FORM */
.form {
    margin-top: 10px;
}

.pagination__list {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination__item.active {
    opacity: 1;
    transition: opacity 225ms ease-in-out;
    will-change: opacity;
    background: #D65F82;
    height: 30px;
    position: relative;
}

.pagination__item::after {
    content: '';
    position: absolute;
    width: 30px;
    left: -30px;
    height: 2px;
    background: #D65F82;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.pagination__item h2 {
    font-family: Miller;
    font-style: italic;
    font-size: 3rem;
    color: #D65F82;
    opacity: 0.3;
}

.pagination__item.active h2 {
    font-family: Miller;
    font-style: italic;
    font-size: 3rem;
    color: #000000;
    opacity: 1;
}

.form__details {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.form__details p {
    font-family: Helvetica, sans-serif;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
}

.input__box input[type=radio]+label {
    display: block;
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.2rem;
}

.input__box input[type=radio] {
    display: none;
}

.input__box input[type=radio]+label:before {
    content: "\2714";
    border: 0.1rem solid #D06383;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding-left: 0.2rem;
    margin-right: 1rem;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.input__box input[type=radio]+label:active:before {
    transform: scale(0);
}

.input__box input[type=radio]:checked+label:before {
    background-color: #D06383;
    border-color: #D06383;
    color: #fff;
}

.input__box input[type=radio]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

.input__box input[type=radio]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.input__box label {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #212121;
}

.form__btn {
    text-align: center;
    margin-top: 30px;
}

.form__btn .btn {
    margin-bottom: 20px;
}

#pageNumber {
    display: none;
}

/* Newslatter */
.newsletter {
    margin-top: 30px;
    text-align: center;
}

.newsletter__text {
    max-width: 70%;
    font-family: AlternateGothic2;
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    color: #212121;
    line-height: 1.2;
}

.newsletter__text span {
    color: #D06383;
}

.newsletter__inputEmail {
    margin-top: 20px;
}

.newsletter__inputEmail input {
    width: 70%;
    height: 35px;
    border-radius: 0;
    border: 1px solid #D65F82;
    padding-left: 10px
}

.newsletter__inputEmail input::placeholder {
    text-align: center;
    font-size: 1rem;
}

.term__label {
    text-align: right;
    line-height: 1.3;
}

.term__input input[type=checkbox]+label {
    display: block;
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.2rem;
}

.term__input input[type=checkbox] {
    display: none;
}

.term__input input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1rem solid #D06383;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding-left: 0.2rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
    color: transparent;
    transition: .2s;
}

.term__input input[type=checkbox]+label:active:before {
    transform: scale(0);
}

.term__input input[type=checkbox]:checked+label:before {
    background-color: #D06383;
    border-color: #D06383;
    color: #fff;
}

.term__input input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

.term__input input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}


.term__input {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 20px auto;
}

.newsletter__hyperlinks {
    margin-top: 20px;
}

.newsletter__hyperlinks a {
    font-size: 0.7rem;
    text-decoration: none;
}

.newsletter__term {
    margin-bottom: 20px;
}



.term__label {
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #212121;
    text-align: left;
}

.term__description {
    font-size: 0.6rem;
    width: 90%;
    margin: 0 auto;
}

.newsletter__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.newsletter__btn .btn {
    margin-bottom: 20px;
}

/* PRODUCT */
.product01,
.product02 {
    margin-top: 30px;
}

.product__description p {
    font-family: AlternateGothic2;
    font-size: 1.2rem;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

.product__description span {
    color: #D65F82;
}

.product__divider img {
    width: 50%;
}

.product__diary {
    margin-top: 30px;
}

.product__diary h2 {
    font-family: AlternateGothic2;
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;

}

.product__diary img {
    max-width: 100%;
    margin: 0 auto;
}

.product__weekly {
    margin-top: 30px;
}

.product__weekly h2 {
    font-family: AlternateGothic2;
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;

}

.product__weekly img {
    max-width: 100%;
    margin: 0 auto;
}

.product__button {
    text-align: center;
    margin-top: 20px;
}

.product__text p {
    max-width: 75%;
    margin: 0 auto;
    font-family: AlternateGothic2;
    font-size: 1.2rem;
    letter-spacing: 0.36px;
    color: #212121;
    text-align: center;
    margin-top: 30px;
}

/* LOGO BOTTOM */

.logo__bottom {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.logo__bottom img {
    max-width: 110px;
}

/* FAIXA BRANCA BOTTOM */

.x-bottom {
    margin-top: auto;
    max-width: 100%;
    height: 44px;
    border-top: 1px solid #707070;
    background-color: #ffffff;
}

.x-bottom span {
    font-family: AlternateGothic2;
    font-size: 1.5rem;
    letter-spacing: 0.48px;
    line-height: 44px;
    text-align: center;
}

/* MEDIA QUERY MOBILE CORRECTION */
@media (min-width: 300px) and (max-width: 320px) {
    .form__details {
        width: 70%;
    }

    .x-top span {
        font-size: 1rem;
    }

    .x-bottom span {
        font-size: 1rem;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    .logo__bottom {
        margin: 60px;
    }
}

@media (min-height: 801px) {
    .logo__bottom {
        margin: 100px;
    }
}

/* MEDIA QUERY DESKTOP */
@media (min-width: 992px) {
    .logo__top {
        text-align: center;
    }

    .logo__top img {
        width: 40%;
    }

    .form {
        margin-top: 30px;
    }

    .pagination__list {
        max-width: 30%;
    }

    .form__details {
        width: 80%;
        margin-top: 50px;
    }

    .form__details p {
        font-size: 1.2rem;
        justify-content: center;
    }

    #form__quiz {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .input__box {
        margin-left: 20px;
    }



    .form__btn .btn--black {
        margin-left: 50px;
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .input__box input[type=radio]+label:before {
        margin-right: 0.5rem;
    }

    .newsletter__text {
        max-width: 40%;
        font-size: 1.3rem;
    }

    .newsletter__email__input {
        max-width: 50%;
    }

    .term__input {
        justify-content: center;
    }

    .term__label {
        max-width: 60%;
        font-size: 1rem;
        line-height: 1.5;
    }

    .term__description {
        max-width: 40%;
        font-size: 0.8rem;
    }

    .newsletter__btn {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        text-align: center;
    }

    .newsletter__btn .btn--black {
        margin-left: 50px;
    }

    .logo__bottom {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .logo__bottom img {
        max-width: 250px;
    }

    .x-top-drop {
        left: 980px;
    }

    .x-top-drop img {
        max-width: 800px;
    }

    .product__description p {
        max-width: 50%;
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .product__container {
        display: flex;
        flex-direction: row;
    }

    .product__container .product__divider img {
        width: 300px;
        transform: rotate(-90deg);
        margin-top: 150px;
    }
}